

.body{
 background-image:url(https://res.cloudinary.com/dek4vhpvr/image/upload/v1656087667/Meribel-Flat/D2F38D45-255D-4B53-B4C9-04ED4647E23B_1_105_c_f4a7k0.jpg);
  background-size: cover;
  height: 100vh;
  color: #eee;
  text-align: center;
  padding-top: 30vh;
  padding-bottom: 20vh;
  padding-left: 0vh;
  padding-right: 0vh;

 }

.h1 {
  text-align: center;
  color: white;
}
.p {
  text-align: center;
  color: white;
}

.body1{
   background-image:#003F79;
  background-size: cover;
  height: 100vh;
  color: #003F79;
  text-align: center;
  padding-top: 4vh;
  padding-bottom: 4vh;
  padding-right: 4vh;
  padding-left: 4vh;

 }

 .body2{
  background-size: cover;
  height: 20vh;
  text-align: cover;
  padding-top: 10vh;
  padding-bottom: 30vh;
  padding-left: 0vh;
  padding-right: 0vh;
  color :#1F619D;
 }
