

  <div class="container-fluid">
    <%= link_to "#", class: "navbar-brand" do %>

    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>



      <ul class="nav justify-content-center">
  <li class="nav-item">
    <a class="nav-link active" href="#booking"><%= t("Booking")%></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="http://localhost:3000/?lang=fr">🇫🇷</a>
     <li class="nav-item">
    <a class="nav-link" href="http://localhost:3000/?lang=en">🇬🇧</a>
  </li>
  </li>
 </ul>


</div>

